@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <form method="post">
        <label>Name:</label><br />
        <input name="name" /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
